!!!
%html
  %head
    %link(rel="stylesheet" href="/stylesheets/global.css")
    %script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    %script(src="/javascripts/common.js")
    %body
      %header
        %h1 HOBBY
      = yield
